<div>
  <form>
    <input type="text" id="key"></input>
    <input type="text" id="secret"></input>
    <input type="text" id="naziv"></input>
    <input type="text" id="branch"></input>
    <input type="text" id="godina"></input>
    <input class="button" type="button" value="Generisi listu" onclick="Generisi(key.value, secret.value, naziv.value, branch.value, godina.value)"></input>
  </form>
  <p id="poruka"></p>
</div>
