body {
	background: #76b852;
	padding: 8% 0 0;
	font-family: Arial;
}

.form {
	background: white;
	margin: 8% 0 0;
	padding: 30px;
	width: 50%;
	max-width: 600px;
	margin: auto;
	height: auto;
	overflow:hidden;
}

.menu{
	list-style-type: none;
	display: block;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	margin-bottom: 20px;
}

.menu li{
	float:left;
}

.menu li a.normal{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.menu li a:hover:not(.active){
	background-color: #111;
}

.menu .active{
	background-color: #4CAF50;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.image{
	height: 40px;
	width:  40px;
}


.imagecont{
	display: block;
	color: white;
	text-align: center;
	padding: 1px 3px;
	text-decoration: none;
	float: center;
}

@media only screen and (max-width: 700px){

	.form {
	background: white;
	margin: 4% 0 0;
	padding: 25px;
	width: 70%;
	max-width: 350px;
	margin: auto;
	height: auto;
	overflow:hidden;
	}

	.menu li{
		clear: both;
		width: 100%;
	}

}
