<div>
  <form>
    <input type="text" id="korime"></input>
    <input class="button" type="button" value="Pretrazi" onclick="Pretraga(korime.value)"></input>
    <table id=korisnici>
    </table>
  </form>
</div>
