	<div class="form">

		<form class="login-form" action="/LoginL" method = "post">
			<h2>Log In</h2>
			<input class="text" type="text" placeholder="username" name="lemail" id="username"/>
			<input class="text" type="password" placeholder="password" name="lpassword" id="password"/>
			<input class="button" value="Login" onclick="Login(username.value, password.value)"/>
			<!-- <input class="login" name="login" value="LOGIN"  type="submit" /> -->
		</form>
		<!--
		<form class="login-form" action="/LoginL" method = "post">
			<h2>Log In</h2>
    	<input class="email" name="email" value="email"  type="text" />
    	<input class="password" name="password" value="password" type="text" />
	  	<input class="login" name="login" value="LOGIN"  type="submit" />
		</form>
-->
		<form class="register-form">
			<h2>Register</h2>
			<input class="button" onclick="RegistrujNastavnik();" value="Registruj nastavnika">
			<input class="button" onclick="RegistrujStudent();" value="Registruj studenta">
			<div id="student" class="visible">
				<input class="text" type="text" placeholder="Ime i Prezime" name="sname" id="simeiprezime" onblur="Validacija.validirajImeiPrezime(this.value)"/>
				<input class="text" type="text" placeholder="Username" name="susername" id="susername" />
				<input class="text" type="text" placeholder="Index" name="sindex" id="sindex" onblur="Validacija.validirajIndex(this.value)"/>
				<input class="text" type="text" placeholder="Grupa" name="sgrupa" id="sgrupa" onblur="Validacija.validirajGrupu(this.value)"/>
				<input class="text" type="text" placeholder="Ak. Godina" name="sakgodina" id="sgodina" onblur="Validacija.validirajAkGod(this.value)"/>
				<input class="text" type="password" placeholder="Password" name="spassword" id="spassword" onblur="Validacija.validirajPassword(this.value)"/>
				<input class="text" type="password" placeholder="Potvrdi Password" name="scpassword" onblur="Validacija.validirajPotvrdu(this.value, spassword.value)"/>
				<input class="text" type="text" placeholder="Bitbucket URL" name="surl" id="sbitbucketurl" onblur="Validacija.validirajBitbucketURL(this.value)">
				<input class="text" type="text" placeholder="Bitbucket SSH" name="sssh" id="sbitbucketssh" onblur="Validacija.validirajBitbucketSSH(this.value)"/>
				<input class="text" type="text" placeholder="Naziv Repozitorija" name="srepozitorij" id="srepozitorij" onblur="Validacija.validirajNazivRepozitorija(getRegex(), this.value)"/>
			</div>
			<div id="profesor" class="hidden">
				<input class="text" type="text" placeholder="Ime i Prezime" name="pname" id="pimeiprezime" onblur="Validacija.validirajImeiPrezime(this.value)"/>
				<input class="text" type="text" placeholder="Username" name="pusername" id="pusername" />
				<input class="text" type="password" placeholder="Password" name="ppassword" id="ppassword" onblur="Validacija.validirajPassword(this.value)"/>
				<input class="text" type="password" placeholder="Potvrdi Password" name="pcpassword" onblur="Validacija.validirajPotvrdu(this.value, ppassword.value)"/>
				<input class="text" type="email" placeholder="Email" name="pemail" id="pemail" onblur="Validacija.validirajFakultetski(this.value)"/>
				<input class="text" type="text" placeholder="Max. Broj Grupa" name="pbrgr" id="pmaxgrupe" /> <!--nisam stavio postavi max grupu jer nema smisla to stavljati na on blur-->
				<input class="text" type="text" placeholder="Regex" name="pregex" id='pregex' onblur="setRegex(this.value)"/> <!--ovo bas nema smisla raditi, ali sam ipak uradio -->
				<input class="text" type="text" placeholder="Semestar" name="psemestar"  id="psemestar"/>
				<input class="text" type="text" placeholder="Ak. Godina" name="pakgodina" id="pgodina" onblur="Validacija.validirajAkGod(this.value)"/>
			</div>
			<p id="Poruke"></p>
			<input class="button" type="submit" value="Registruj" onclick="Register(simeiprezime.value, susername.value, sindex.value, sgrupa.value, sgodina.value, spassword.value, sbitbucketurl.value, sbitbucketssh.vlaue, srepozitorij.value, pimeiprezime.value, pusername.value, ppassword.value, pemail.value, pmaxgrupe.value, pregex.value, psemestar.value, pgodina.value)">
		</form>
	</div>
