h2{
	text-align: center;
	padding: 0px;
	padding-bottom: 3%;
	margin: 0;
}

.login-form {
	border: 1px black solid;
	float: left;
	background: #f2f2f2;
	width: 48%;
	padding: 2.5%;
	box-sizing : border-box;
}

.register-form {
	border: 1px black solid;
	float: right;
	background: #f2f2f2;
	width: 48%;
	padding: 2.5%;
	box-sizing : border-box;
}

input{
	width: 100%;
	height: 20px;
	padding: 20px;
	margin: 2px;
	box-sizing: border-box;
	border: none;
}

select{
	width: 100%;
	height: 40px;
	padding-left: 15px;
	margin: 2px;
	box-sizing: border-box;
	border: none;
}

.button{
	cursor: pointer;
	padding-top: 12px;
	margin-top: 10px;
	min-height: 40px;
	font-size: 16px;
	background: #4CAF50;
	text-transform: uppercase;
	color: #FFFFFF;
}

.visible{

}

.hidden{
	display: none;
}

#Poruke{
	color: red;
	fontSize: 14px;
}

@media only screen and (max-width: 700px){

	.login-form {
	border: 1px black solid;
	background: #f2f2f2;
	width: 100%;
	padding: 2.5%;
	box-sizing : border-box;
	margin-bottom: 10px;
	}

	.register-form {
	border: 1px black solid;
	background: #f2f2f2;
	width: 100%;
	padding: 2.5%;
	box-sizing : border-box;
	}

}
