<div>
  <form>
    <input type="text" id="index"></input>
    <input type="number" min="1" max="4" id="spirala"></input>
    <input class="button" type="button" value="Generisi izvjestaj" onclick="kreirajFajl.kreirajIzvjestaj(spirala.value, index.value, Ispis)"></input>
    <input class="button" type="button" value="Generisi bodove" onclick="kreirajFajl.kreirajBodove(spirala.value, index.value, Ispis2)"></input>
  </form>
  <p id="poruka"></p>
</div>
