.element{
	border-bottom: 1px solid black;
	padding-left: 15px;
	padding-right:15px;
	overflow:hidden;
	clear: both;
}

.element2{	
	border: 1px solid black;
	padding-left: 15px;
	padding-right:15px;
	overflow:hidden;
	clear: both;
	text-align: center;
}

.element3{
	padding-left: 3%;
	padding-top: 2%;
	overflow:hidden;
	float: left;
	width: 25%;
	height: ;
}

.element4{
	overflow:hidden;
	float: right;
	width: 67%;
}

.element5{
	padding: 15px;	
	overflow:hidden;
}

.element6{
	border: 1px solid black;
	border-left: none;
	border-right: none;
	padding-left: 15px;
	padding-right:15px;
	overflow:hidden;
	clear: both;
	text-align: center;
}

.element8{
	padding: 2%;
	overflow:hidden;
}

.element7{
	padding: 20px;
	overflow:hidden;
}

.okvir{
	border: 1px solid black;
	overflow: hidden;
}

.komentar{
	height: 120px;
	width: 18%;
	border: 1px solid black;
	margin: 3%;
	padding: 20px;
	text-align: center;
	float: left;
	overflow-y: scroll;
}

h3{
	float: left;
}

h4{
	float: right;
}

table{
	border-collapse: collapse;
	width: 100%;
	font-size: 11px;
	text-align: center;
}

td, th{
	border: 1px solid #ddd;
	padding: 8px 2px;
}

th{
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #4CAF50;
	color: white;
}

div .numbers{
	clear: both;
	display: table;
	margin: 0px auto;
}

.numbers{
	list-style-type: none;
	display: block;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	margin-bottom: 20px;
}

.numbers li{
	float:left;
}

.numbers li a{
	display: block;
	color: white;
	text-align: center;
	padding: 7px 9px;
	text-decoration: none;
}

.numbers li a:hover:not(.active){
	background-color: #111;
}

.numbers .active{
	background-color: #4CAF50;
}

@media only screen and (max-width: 700px){	
	.element3{
	padding-left: 3%;
	padding-top: 2%;
	overflow:hidden;
	width: 100%;
	clear: both;
	}
	
	.element4{
	overflow:hidden;
	width: 100%;
	clear: both;
	}
	
	.komentar{
	height: 120px;
	width: 70%;
	border: 1px solid black;
	margin: 20px;
	padding: 20px;
	text-align: center;
	clear: both;
	}	
}
