
		<div class="form">
			<div class="okvir">
				<div class="element">
					<h2> WT code reviews</h2>
				</div>
				<div class="element">
					<h3> Statistike studenta </h3><h4> Ime i prezime </h4>
				</div>
				<div class="element8">
					<div class="element3">
						<p> Broj indexa </p>
						<p> Link na repozitorij </p>
						<p> Prva parcijala   20 </p>
						<p> Druga parcijala  20 </p>
					</div>
					<div class="element4">
						<table>
							<tr>
								<th> X </th>
								<th> Spirala 1 </th>
								<th> Spirala 2 </th>
								<th> Spirala 3 </th>
								<th> Spirala 4 </th>
							</tr>
							<tr>
								<td> Student 1 </td>
								<td> X1 </td>
								<td> X2 </td>
								<td> X3 </td>
								<td> X4 </td>
							</tr>
							<tr>
								<td> Student 2 </td>
								<td> X1 </td>
								<td> X2 </td>
								<td> X3 </td>
								<td> X4 </td>
							</tr>
							<tr>
								<td> Student 3 </td>
								<td> X1 </td>
								<td> X2 </td>
								<td> X3 </td>
								<td> X4 </td>
							</tr>
							<tr>
								<td> Student 4 </td>
								<td> X1 </td>
								<td> X2 </td>
								<td> X3 </td>
								<td> X4 </td>
							</tr>
						</table>
					</div>
				</div>
				<div class="element6">
					<h2> Komentari </h2>
				</div>
				<div class="element7">
					<div class="element2">
						<h2> Spirala 1 </h2>
					</div>
					<div class="komentar">
						<p> komentar 1 <p>
					</div>
					<div class="komentar">
						<p> komentar 2 <p>
					</div>
					<div class="komentar">
						<p> komentar 3 <p>
					</div>
					<div class="komentar">
						<p> komentar 4 <p>
					</div>
					<div class="komentar">
						<p> komentar 5 <p>
					</div>
					<div class="numbers">
						<ul class="numbers">
							<li> <a href="?"> << </a> </li>
							<li> <a class="active" href="?"> 1 </a> </li>
							<li> <a href="?"> 2 </a> </li>
							<li> <a href="?"> 3 </a> </li>
							<li> <a href="?"> 4 </a> </li>
							<li> <a href="?"> >> </a> </li>
						</ul>
					<div>
				</div>
			</div>
		</div>
