<div class="form">
	<input type="number" name="broj" min="1" max="4" id="spirala"></input>
	<input type="text" id="index"></input>
	<table>
		<tr>
			<th> Šifra </th>
			<th> Komentar </th>
			<th> Like </th>
			<th> Dislike </th>
		</tr>
		<tr id="red1">
			<td id="r1k1"> A </td>
			<td id="r1k2"> <input type="textarea" /></input></td>
			<td><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></td>
			<td><i class="fa fa-thumbs-o-down" aria-hidden="true" onclick="moveDown(1)"></i></td>
		</tr>
		<tr id="red2">
			<td id="r2k1"> B </td>
			<td id="r2k2"> <input type="textarea" /></input> </td>
			<td><i class="fa fa-thumbs-o-up" aria-hidden="true" onclick="moveUp(2)"></i></td>
			<td><i class="fa fa-thumbs-o-down" aria-hidden="true" onclick="moveDown(2)"></i></td>
		</tr>
		<tr id="red3">
			<td id="r3k1"> C </td>
			<td id="r3k2"> <input type="textarea" /></input></td>
			<td><i class="fa fa-thumbs-o-up" aria-hidden="true" onclick="moveUp(3)"></i></td>
			<td><i class="fa fa-thumbs-o-down" aria-hidden="true" onclick="moveDown(3)"></i></td>
		</tr>
		<tr id="red4">
			<td id="r4k1"> D </td>
			<td id="r4k2"> <input type="textarea" /></input> </td>
			<td><i class="fa fa-thumbs-o-up" aria-hidden="true" onclick="moveUp(4)"></i></td>
			<td><i class="fa fa-thumbs-o-down" aria-hidden="true" onclick="moveDown(4)"></i></td>
		</tr>
		<tr id="red5">
			<td id="r5k1"> E </td>
			<td id="r5k2"> <input type="textarea" /> </input></td>
			<td><i class="fa fa-thumbs-o-up" aria-hidden="true" onclick="moveUp(5)"></i></td>
			<td><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></td>
		</tr>
	</table>
	<input class="button" type="button" value="Potvrdi" onclick="Posalji(spirala.value, index.value, r1k1.innerHTML, r1k2.innerHTML, r2k1.innerHTML, r2k2.innerHTML, r3k1.innerHTML, r3k2.innerHTML, r4k1.innerHTML, r4k2.innerHTML, r5k1.innerHTML, r5k2.innerHTML)"></input>
	<p id="poruka"></p>
</div>
