
  <div>
    <form>
      <textarea rows="5" id="tekst"></textarea>
      <input type="number" min ="1" max="4" id="spirala"></input>
      <input class="button" type="button" value="Submit" onclick="Unesi()"></input>
    </form>
    <p id="poruka"></p>
  </div>
