table{
	border-collapse: collapse;
	width: 100%;
}

td, th{
	border: 1px solid #ddd;
	padding: 8px;
}

th{
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
}

select{
	width: 100%;
}

input{
	width: 100%;
	text-align: center;
}

.menu.spirale li a{
	padding: 12px 10px;
}


@media only screen and (max-width: 700px){

	.form {
	background: white;
	margin: 4% 0 0;
	padding: 25px;
	width: 70%;
	max-width: 350px;
	margin: auto;
	height: auto;
	overflow:hidden;
	}

}
